// variables
$color-black: #000;
$color-white: #fff;
$color-dark: #1e1e1e;

$color-google-blue: #4285f4;
$color-google-green: #34a853;
$color-google-yellow: #fbbc05;
$color-google-red: #ea4335;

// mixins
@mixin backgroundGradientBlackDark($deg: 60deg) {
  background: $color-dark;
  background: linear-gradient(#{$deg}, $color-black 20%, $color-dark 80%);
}

// Reset: begin
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;

  @media (min-width: 768px) {
    width: 0.5rem;
    height: 0.5rem;
  }
}

::-webkit-scrollbar-track {
  background: rgba($color-dark, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba($color-dark, 0.3);
  border-radius: 0.5rem;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $color-white;
  @include backgroundGradientBlackDark(260deg);
}

button,
a {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: inherit;
  font-size: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
// Reset: end

// App: begin
.app {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__map {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
  }

  &__center__pointer {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 1rem;
    background: $color-white;
  }

  &__buttons {
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    background: rgba($color-dark, 0.5);

    &.state--passive {
      display: none;
    }
  }

  &__button {
    transition: transform 0.25s ease-in-out;
    display: inline-flex;
    padding: 0.75rem 1rem;
    color: $color-dark;
    background: $color-white;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;

    &:active {
      transform: scale(0.975);
    }
  }

  &__info {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 20rem;
    padding: 1.25rem;
    color: $color-dark;
    background: $color-white;
    border-radius: 1rem 1rem 0 0;

    &__text {
      font-size: 0.8rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &:not(:last-child) {
        margin: 0 0 0.75rem;
      }
    }

    &__key {
      font-weight: 400;
      margin: 0 0.375rem 0 0;
    }

    &__value {
      font-weight: 500;
    }

    &__highlight {
      color: $color-white;
      background: $color-dark;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 1.25rem;
      margin: 0 0 0 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__distance {
    pointer-events: none;
    position: fixed;
    z-index: 4;
    left: auto;
    top: 0;
    right: auto;
    bottom: 0;
    margin: auto;
    width: 100vh;
    height: 100vh;
    border: 0.25rem solid rgba($color-google-red, 0.4);
    background: rgba($color-google-red, 0.3);
    border-radius: 1000rem;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.state--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
// App: end
